@import "tailwindcss";

@theme {
  --font-family-ibm-plex-sans: "IBM Plex Sans", "sans-serif";
  --font-family-bebas-neue: var(--bebas-neue);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-green: #027a48;
  --color-green-100: #ecfdf3;
  --color-green-400: #4c7b62;
  --color-green-500: #2cc171;
  --color-green-800: #027a48;

  --color-red: #ef3a4b;
  --color-red-400: #f46f70;
  --color-red-500: #e27233;
  --color-red-800: #ef3a4b;

  --color-blue-100: #0089f1;

  --color-light-100: #d6e0ff;
  --color-light-200: #eed1ac;
  --color-light-300: #f8f8ff;
  --color-light-400: #edf1f1;
  --color-light-500: #8d8d8d;
  --color-light-600: #f9fafb;
  --color-light-700: #e2e8f0;
  --color-light-800: #f8fafc;

  --color-dark-100: #16191e;
  --color-dark-200: #3a354e;
  --color-dark-300: #232839;
  --color-dark-400: #1e293b;
  --color-dark-500: #0f172a;
  --color-dark-600: #333c5c;
  --color-dark-700: #464f6f;
  --color-dark-800: #1e2230;

  --color-gray-100: #cbd5e1;

  --gradient-background-dark: oklch(5% 0 270);
  --gradient-background-medium: oklch(10% 0 270);
  --gradient-gray-start: #37363a;
  --gradient-gray-end: #353637;
  --gradient-blue-start: #232839;

  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  --border-radius-lg: var(--radius);
  --border-radius-md: calc(var(--radius) - 2px);
  --border-radius-sm: calc(var(--radius) - 4px);

  --background-image-pattern: url("/images/pattern.webp");
}

@utility gradient-vertical {
  background: linear-gradient(
    180deg,
    var(--gradient-background-dark) 0%,
    var(--gradient-background-medium) 100%
  );
}

@utility gradient-gray {
  background: linear-gradient(
    270deg,
    var(--gradient-gray-start) 0%,
    var(--gradient-gray-end) 100%
  );
}

@utility gradient-blue {
  background: linear-gradient(
    180deg,
    var(--gradient-blue-start) 0%,
    var(--gradient-background-dark) 100%
  );
}

@utility auth-container {
  @apply relative min-h-screen;
}

@utility auth-form {
  @apply relative z-10 flex min-h-screen items-center justify-center px-5;
}

@utility auth-box {
  @apply bg-light-800/50 mx-auto flex items-center justify-center max-w-xl flex-col gap-6 rounded-lg p-10;
}
